* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  width: 100vw;
  height: 100vh;
  font-size: 16px; }

a {
  color: #468CC8; }

button {
  cursor: pointer;
  display: block;
  width: 100%;
  line-height: 1.13;
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 6px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  margin: 10px 0; }

.btnDeleteProperty,
.btnDeleteUser {
  cursor: pointer;
  color: #E57373; }

.link {
  cursor: pointer;
  color: #468CC8; }

.wdw {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff; }

.lblMenu {
  width: 300px;
  height: auto;
  padding: 15px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.lblContainer {
  width: 300px;
  height: auto;
  padding: 15px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

#wdwLogin, #wdwUserSignup, #wdwSuperAdminSignup {
  display: flex;
  background-image: url(../images/bg-3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #wdwLogin .lblContainer h1, #wdwUserSignup .lblContainer h1, #wdwSuperAdminSignup .lblContainer h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }
  #wdwLogin .lblContainer a, #wdwUserSignup .lblContainer a, #wdwSuperAdminSignup .lblContainer a {
    display: flex;
    justify-content: center; }
  #wdwLogin .lblContainer #txtLoginEmail, #wdwUserSignup .lblContainer #txtLoginEmail, #wdwSuperAdminSignup .lblContainer #txtLoginEmail {
    width: 100%;
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px; }
  #wdwLogin .lblContainer #txtLoginEmail:focus, #wdwUserSignup .lblContainer #txtLoginEmail:focus, #wdwSuperAdminSignup .lblContainer #txtLoginEmail:focus {
    z-index: 2; }
  #wdwLogin .lblContainer #txtLoginPassword, #wdwUserSignup .lblContainer #txtLoginPassword, #wdwSuperAdminSignup .lblContainer #txtLoginPassword {
    width: 100%;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  #wdwLogin .lblContainer #btnLogin, #wdwUserSignup .lblContainer #btnLogin, #wdwSuperAdminSignup .lblContainer #btnLogin {
    color: white;
    background-color: #428bca; }
  #wdwLogin .lblContainer #btnLogin:hover, #wdwUserSignup .lblContainer #btnLogin:hover, #wdwSuperAdminSignup .lblContainer #btnLogin:hover {
    background-color: #3276b1; }

#wdwUserSignup {
  display: none; }
  #wdwUserSignup #txtSignupEmail {
    width: 100%;
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px; }
  #wdwUserSignup #txtSignupEmail:focus {
    z-index: 2; }
  #wdwUserSignup #txtSignupPassword {
    width: 100%;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  #wdwUserSignup #btnUserSignup {
    color: white;
    background-color: #EF9A9A; }
  #wdwUserSignup #btnUserSignup:hover {
    background-color: #E57373; }

#wdwSuperAdminSignup {
  display: none; }
  #wdwSuperAdminSignup h1 {
    font-size: 26px; }
  #wdwSuperAdminSignup #txtSuperAdminSignupEmail {
    width: 100%;
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px; }
  #wdwSuperAdminSignup #txtSuperAdminSignupEmail:focus {
    z-index: 2; }
  #wdwSuperAdminSignup #txtSuperAdminSignupPassword {
    width: 100%;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  #wdwSuperAdminSignup #btnSuperAdminSignup {
    color: white;
    background-color: #EF9A9A; }
  #wdwSuperAdminSignup #btnSuperAdminSignup:hover {
    background-color: #E57373; }

#wdwCreateUser #txtCreateUserEmail {
  width: 100%;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px; }
#wdwCreateUser #txtCreateUserEmail:focus {
  z-index: 2; }
#wdwCreateUser #txtCreateUserPassword {
  width: 100%;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
#wdwCreateUser #btnSaveUser {
  color: white;
  background-color: #428bca; }
#wdwCreateUser #btnSaveUser:hover {
  background-color: #3276b1; }
#wdwCreateUser #txtCreateUserId {
  display: none; }

#wdwProperties {
  justify-content: flex-start;
  background-image: url(../images/bg-5.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #wdwProperties .btnSendProperties {
    width: 350px;
    color: white;
    background-color: #428bca; }
  #wdwProperties .btnSendProperties:hover {
    background-color: #3276b1; }
  #wdwProperties .lblProperty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px 0 0 0;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
    #wdwProperties .lblProperty .lblPropertyInformation {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #wdwProperties .lblProperty .lblPropertyInformation .lblPropertyAddress {
        flex-basis: 60%; }
      #wdwProperties .lblProperty .lblPropertyInformation .lblPropertyPrice {
        flex-basis: 30%;
        text-align: center; }
      #wdwProperties .lblProperty .lblPropertyInformation .lblPropertyId {
        display: none; }
    #wdwProperties .lblProperty .lblPropertyImages {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin: 10px 0 0 0; }
      #wdwProperties .lblProperty .lblPropertyImages img {
        width: 200px;
        padding: 5px 5px 5px 5px; }

#wdwCreateProperty {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  #wdwCreateProperty h1 {
    margin-bottom: 10px;
    font-size: 22px; }
  #wdwCreateProperty span {
    display: flex;
    justify-content: center;
    margin-top: 10px; }
  #wdwCreateProperty a {
    display: flex;
    justify-content: center; }
  #wdwCreateProperty #txtCreatePropertyAddress {
    width: 100%;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px; }
  #wdwCreateProperty #txtCreatePropertyAddress:focus {
    z-index: 2; }
  #wdwCreateProperty #txtCreatePropertyPrice {
    width: 100%;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  #wdwCreateProperty #btnSaveProperty {
    color: white;
    background-color: #428bca; }
  #wdwCreateProperty #btnSaveProperty:hover {
    background-color: #3276b1; }
  #wdwCreateProperty .imgPreview {
    width: 100%;
    margin-top: 10px; }
  #wdwCreateProperty #txtCreatePropertyId,
  #wdwCreateProperty #txtCreatePropertyLat,
  #wdwCreateProperty #txtCreatePropertyLng {
    display: none; }

#wdwPropertiesForUserRole {
  justify-content: flex-start; }
  #wdwPropertiesForUserRole .lblProperty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px 0 0 0;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
    #wdwPropertiesForUserRole .lblProperty .lblPropertyInformation {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      #wdwPropertiesForUserRole .lblProperty .lblPropertyInformation .lblPropertyAddress {
        flex-basis: 60%; }
      #wdwPropertiesForUserRole .lblProperty .lblPropertyInformation .lblPropertyPrice {
        flex-basis: 30%;
        text-align: center; }
      #wdwPropertiesForUserRole .lblProperty .lblPropertyInformation .lblPropertyId {
        display: none; }
    #wdwPropertiesForUserRole .lblProperty .lblPropertyImages {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 10px 0 0 0; }
      #wdwPropertiesForUserRole .lblProperty .lblPropertyImages img {
        width: 100%;
        padding: 10px 100px 10px 100px; }

#wdwUsers {
  justify-content: flex-start;
  background-image: url(../images/bg-5.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #wdwUsers .lblUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: 10px 0 0 0;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
    #wdwUsers .lblUser .lblUserEmail {
      flex-basis: 40%; }
    #wdwUsers .lblUser .lblUserPassword {
      flex-basis: 30%; }
    #wdwUsers .lblUser .lblUserRole {
      flex-basis: 30%; }
    #wdwUsers .lblUser .lblUserId {
      display: none; }

#wdwMenu {
  background-image: url(../images/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-right: 15%;
  padding-left: 15%; }
  #wdwMenu #btnLogOut {
    color: white;
    background-color: #EF9A9A;
    width: 200px; }
  #wdwMenu #btnLogOut:hover {
    background-color: #E57373; }
  #wdwMenu #lblCurrentEmail {
    color: white;
    font-size: 12px; }

#wdwMap #btnMenu {
  color: white;
  background-color: #428bca;
  width: 200px;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px; }
#wdwMap #btnMenu:hover {
  background-color: #3276b1; }

/*PARSLEY VALIDATION LIBRARY*/
li.parsley-required {
  margin-left: 20px; }

/*# sourceMappingURL=scss-app.css.map */
